{% extends 'base.html' %}

{% block title %}Моe резюме{% endblock %}

{% block content %}
    <div class="container my-5">
        <h1 class="text-center mb-4">Мое резюме</h1>
        <h1 class="text-center mb-4">Ларионова Полина Андреевна</h1>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Образование</h2>
                <h4>ITHub</h4>
                <p class="mb-0">Бэкенд-разработчик</p>
                <p class="text-muted">2024-2027</p>
            </div>
            <div class="col-md-6">
                <h2>Опыт работы</h2>
                <h4>IT-школа "Эксперт"</h4>
                <p class="mb-0">2021-2023</p>
                <h4>Компьютерная академия</h4>
                <p class="mb-0">2024</p>
                <p class="text-muted">- Преподаватель</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <h2>Навыки</h2>
                <ul class="list-group">
                {% for skill in skills %}
                    <li class="list-group-item list-group-item-info border-0 py-1">
                    <i class="fa fa-cog"></i> {{ skill }}
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Увлечения</h2>
                {% for hobby in hobbies %}
                <h4>{{ hobby["category"] }}</h4>
                {% for item in hobby["items"] %}
                    <p class="text-muted mb-0">- {{ item }}</p>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <h2>Контакты</h2>
                <p class="mb-0"><i class="fa fa-phone"></i> Телефон: +79829689166</p>
                <p class="mb-0"><i class="fa fa-envelope"></i> Email: phurrde@gmail.com</p>
                <p class="mb-0"><i class="fa fa-github"> GitHub: <a href="https://github.com/deSpooky"></i> deSpooky</a></p>
            </div>
            <div class="col-md-6">
                <h2>Языки</h2>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-success border-0 py-1"><i class="fa fa-check-circle"></i> Английский (C1)</li>
                    <li class="list-group-item list-group-item-success border-0 py-1"><i class="fa fa-check-circle"></i> Русский (родной)</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}